
/*our trainers*/

.trainers{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-background);
    
}

.trainers .trainers__text{
    
    height: 200px;
    width: 650px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trainers .trainers__text h2{
    font-size: 34px;
    color: var(--black-color);
}
.trainers .trainers__text p{
    margin: 20px 0 0px 0;
    text-align: center;
    font-size: 16px;
    color: var(--medium-color);
}

.trainers .trainers__text img{
    
    max-width: 30%;
    max-height: 30%; 
    object-fit: contain;
}
/*contenido*/
.trainers__content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.trainer__info {
    margin-top: 30px;
    padding: 8px;
    
}
.trainers__content .trainer__1{
    height: 750px;
    width: 320px;
    
    margin: 16px;
}


.trainers__content  img{
    
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain;
}
.trainers__content  img:hover{
    box-shadow: 13px 13px var(--secondary-rgb-dark);
    transition: .5s;
}

.trainers__content h3{
    padding: 10px;
    font-size: 20px;
    color: var(----extra);
}
.trainers__content p{
    padding: 8px;
    font-size: 16px;
    color: var(--medium-color);
}
.trainers__content .socials{
    display: flex;
    justify-content: flex-start;
}
.trainers__content .socials li{
    list-style: none;
}
.trainer__info .socials li a img {
    list-style: none;
    width: 50px;
    height: 70px;
    
    margin-top: 2px;
    padding: 14px;
}
